<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coś więcej o mnie!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% include "include/menu.html" %}
{% block body %}
{% endblock %}

<div class="col-md-5 p-lg-5 mx-auto my-5" style="text-align: center; margin-bottom: 0!important; margin-top: 0!important;">
      <h1 class="display-4 fw-normal">Witam w sekcji poświęconej mojej osobie!</h1>
      <p class="lead fw-normal">Jestem Jakub Jędrzejak i studiuję niestacjonarnie informatykę na najlepszej uczelni na świecie - Wielkiej Szkole Bankowej we Wrocławiu!</p>
    </div>
<p style="font-size: 20px; text-align: center; width: 1000px; margin-left: auto; margin-right: auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu auctor eros, luctus pretium nulla. Nam suscipit massa vel elit tempus imperdiet. Quisque pulvinar sapien in ex sagittis faucibus. Maecenas mi ipsum, lacinia quis tortor nec, scelerisque euismod turpis. Suspendisse tristique porttitor ipsum, non sollicitudin nibh mollis et. Fusce viverra lectus quis nisi ullamcorper, cursus placerat sapien ultrices. Maecenas tristique leo sed mauris maximus auctor. Suspendisse faucibus euismod hendrerit. Nulla imperdiet quis est ac maximus. Duis lacus nisl, finibus ac mi quis, volutpat dapibus diam. Nunc lacinia, ligula ac cursus imperdiet, leo nunc eleifend nibh, sit amet suscipit eros erat non justo. Nam lobortis magna et semper finibus. Nulla vel sollicitudin ligula.</p>
</body>
</html>